.container
{
    width: 100px;
    height: 100px;
    background-color: red;
    margin: auto;
}
.Second-container {
    width: 50%;
    background-color: black;
    margin: auto;
    text-align: center;
    color: bisque;
}